language: go

go:
- "1.16.x"

git:
  depth: 1

branches:
  only:
  - master
  - v2

go_import_path: github.com/hidevopsio/hiboot

env:
- GO111MODULE=on APP_PROFILES_ACTIVE=local GOPROXY=https://goproxy.cn

install: true

script:
- env GO111MODULE=on go test -v ./... -coverprofile=coverage.out -covermode=atomic

after_success:
- bash <(curl -s https://codecov.io/bash) -t ${CODECOV_TOKEN}

