language: go

go:
- "1.11.x"

git:
  depth: 1

branches:
  only:
  - master

go_import_path: hidevops.io/hiboot

env:
- GO111MODULE=on
- APP_PROFILES_ACTIVE=local

install: true

script:
- go test -v ./... -coverprofile=coverage.out -covermode=atomic

after_success:
- bash <(curl -s https://codecov.io/bash) -t ${CODECOV_TOKEN}

